@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Motter Corpus';
  src: url('./assets/fonts/Motter Corpus Std Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Motter Corpus', serif;
  }
}
